body
{
    font-family: Roboto, sans-serif;
    background-color: #2c3e50;
}

body h1
{
    color: #fff;
}

.calculator
{
    text-align: center;
    color: #fff;
}

.row:not(:first-child)
{
    margin-top: 20px;
}

.calc-buttons
{
    display: inline-block;
    width: 100px;
    height: 101px;
    margin-left: 10px;

    background-color: #ecf0f1;
    color: #7f8c8d;
}

.content
{
    display: table-cell;
    vertical-align: middle;

    width: 100px;
    height: 100px;
}

.calc-buttons:hover
{
    background-color: #9b59b6;
    color: #fff;
}

.calc-buttons:active
{
    background-color: #9c59b68a;
}

/*-----------------------------------------------------------------*/
/*                      CONTROL BUTTONS                            */
/*-----------------------------------------------------------------*/

.control-buttons-container
{
    margin-top: 5px;
}

.control-buttons
{
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-left: 10px;
}

.control-buttons:not(:last-child)
{
    background-color: #27ae60;
}

.control-buttons:not(:last-child):active
{
    background-color: #27ae5f98;
}

.control-buttons:last-child
{
    background-color: #e74c3c;
}